<div class="header">
    <div class="wrap">
        <nav class="header__nav">
            <ul class="header__list" id="list">
                <li class="list__burger" onclick="visibleModal();">
                    <span class="list__burger--line"></span>
                    <span class="list__burger--line"></span>
                    <span class="list__burger--line"></span>
                </li>
            </ul>
        </nav>
    </div>
</div>
