<div class="overlay" id="overlay-nav">
    <div class="overlay-main">
        <nav class="nav-mobile">
            <p class="button--close" onclick="hideNav();">x</p>
            <ul class="nav-mobile__list">
            </ul>
        </nav>
    </div>
</div>
