<div class="add-menu">
    <div class="wrap">
        <form class="add-menu__form">
            <label class="add-menu__form--label" for="add-menu">Добавить новый элемент в меню:</label>
            <input type="text" class="add-menu__form--input" id="add-menu" onclick="resetField();" placeholder="Введите новый элемент">
            <button class="btn" id="button" type="button">Добавить</button>
        </form>
    </div>
</div>
