.footer
   height 50px
   background #1bbdce
   display flex
   align-items center
.footer__copyright
   text-align right
   a
      text-decoration none
      color #ffffff
      font-size 18px
   a:hover
      text-decoration underline
@media (max-width: 979px)
   .footer__copyright
      margin-right 10px
      margin-left 10px
